$primary-pink-color : #b92d5e;
$secondary-pink-color: #c22f63;
$light-pink-color:#dd7499;
$dark-pink-color:#902349;
$primary-yellow-color: #fdea45;
$primary-white-color: #fff;
$dark-gray-color:#3a3a3a;
$primary-gray-color:#979797;
$secondary-gray-color:#6c757d;
$primary-blue-color:#007bff;
$dark-blue-color:#0056b3;
$lightgray-background-color:#fafafa;
$fontFamily:IRANSANS