nav {
    background: $secondary-pink-color;
    height: 6.5rem;
    li {
        color: $primary-white-color;
        padding: 21.5px 16.5px;
        font-size: 1.4rem;
        display: inline-block;
        list-style: none;
        
    }
    #onSale {
        color: $primary-yellow-color;
       img {
           width: 1.8rem;
           vertical-align: middle;
           margin: 0 5px;
       }
    }
}