
.auth_box {
    padding: 56px;
}
.form_body{
    position: relative;
    padding: 56px;
    label {
        color: $primary-gray-color;
    }
}

.registerTab , .loginTab {
    display: inline-block;
    width: 50%;
    font-size: 1.6rem;
    border-radius:50px;
    padding: 16px 20px;
    border:3px solid $primary-pink-color;
    margin-bottom: 40px;
    cursor: pointer;
    text-align: center;
}
.registerTab{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &.active{
        background: $primary-pink-color;
        color: $primary-white-color;
    }
}
.loginTab {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; 
    &.active{
        background: $primary-pink-color;
        color: $primary-white-color;
    }
}
.input_body {
    margin-top: 2rem;

    .auth_input{
        width: 100%;
        margin-top: 1rem;
    }
}
.login_btn{
    font-family: $fontFamily;
    border:none;
    font-size: 1.6rem;
    color: $primary-white-color;
    background: $primary-pink-color;
    border-radius: 50px;
    padding: 1rem 4rem ;
    cursor: pointer;
    margin-top: 2rem;
    &:enabled:hover{
        background-color:$dark-pink-color;
    }
}
#rememberMe{
    color:$primary-gray-color;
    font-size: 1.3rem;
}
#lost_password {
    color: $primary-pink-color;
    margin-top: 2rem;
    cursor: pointer;
    &:hover {
        color:$dark-pink-color;
    }
}

.showError {
    display:block;
    color:red
}
.hideError {
    display: none;
}
button:disabled{
    background-color:$light-pink-color;
    cursor: not-allowed;
}
.emptyInput{
    border:2px solid red;
}